body {
  background-color: antiquewhite;
  margin: 0px;
  
}

.roboto-slab-msroboto {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.button {
  background-color: rgb(221, 111, 8);
  border-radius: 10px;
  flex-basis: 100px;
  height: auto;
  width: auto;
}

h1 {
  font-family: Roboto Slab, helvetica, sans-serif;
}
a {
  text-decoration: none;
  font-family: Roboto Slab, helvetica, sans-serif;
  color: rgb(124, 75, 11);
}
#logo {
  width: 6%;
  border: 1px solid rgb(49, 41, 4);
}
#lote {
  padding-left: 1%;
}
header {
  border: 1px solid beige;
  padding: 1% 10%;
  background-color: rgb(197, 131, 45);
}
ul {
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex: 1 1 auto;
  margin: 0;
  gap: 5%;
}
.navis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: row wrap;
}

.subti {
  padding: 0;
  margin: 0px;
  display: flex;
  flex-basis: 50%;
  flex-flow: row wrap;
  align-items: flex-start;
}
.subnav {
  padding: 0;
  margin: 0px;
  margin: 0px;

  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
}
main {
  
  display: flex;
  flex-flow: column;
  align-content: center;
}
.lista {
 
  flex-wrap: wrap;
  padding: 20px 20px;

  display: flex;
  justify-content: center;
}
.titmain {
  display: flex;
  align-items: center;
  justify-content: center;
}
.element {
  margin: 10px;
  width: 250px;
  border: 0.5vh solid rgb(119, 69, 3);
  border-radius: 35px;
  border-style: inset;

  text-align: center;
}
.tb {
  border-radius: 35px;

  max-width: 100%;
  max-height: 100%;
}
.fohe{
  max-width: 100%;
  max-height: 100%;
}
.cita {
  background-color: rgb(219, 197, 168);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 10%;
}
.txt-cita {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
}
.firma {
  align-self: flex-end;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
}
.call {
  color: antiquewhite;
  margin: 2vh 4ch;
  padding: 2%;
  background-color: rgb(92, 45, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.invite {
  font-size: 20px;
  font-weight: 800;
}
.invite2 {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}

footer{
  display: flex;
  background-color: rgb(197, 131, 45);
  padding: 1%;
  align-items: center;
  justify-content: center;
}
